
 
  .episodes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive card layout */
    grid-template-rows: auto;
    min-height: 100vh; /* Full height of the viewport, pushes footer down */
    max-width: calc(100% - 20vw);
    margin: auto; /* Centers the grid as a whole */
    gap: 15px;
    padding: 40px;
  }
  
  .card {
    background-color: aliceblue;
    border: 1px solid beige;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.3s; /* Makes smoother transition on hover effect */

  }

  .card:first-child {
    grid-column: 1 / -1; /* This makes the first card take up the full width of the grid */
    height: 35vh;
  }
  
  
  .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    border: 2px solid lime;
  }
